html {
    height: 100%;  
    font-size: 100%;
}

.chatroom-list-bar {
    padding: 15px;
    background-color: #EAAB23;
    height: 1300px;
    width: 25%;
    float: left;
}

.btn:hover {
    background-color: #169EE2;
}

.chatroom-list-container {
    list-style-type: none;
    list-style-position: inside;
}

#chatroom-list-title, .modal-title, #current-chatroom-title {
    font-family: 'Trirong', serif;
    font-size: 2.0em;
    color: #363F44;
}

.modal-set-user .modal-title {
    text-align: center;
    padding-bottom: 1%;
}

a.chatroom-list-name, .modal-new-room label, .individual-message-container, .modal-set-user label {
    font-family: 'Rubik', sans-serif; 
}

a.chatroom-list-name {
    font-size: 1.3em;
    text-decoration: none;
}

.current-chatroom-container {
    padding: 15px 0px;
}

#current-chatroom-title {
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px;
}

.individual-message-container {
    height: 100px;
    padding: 20px;
}

.individual-message-container .message-username {
    padding-left: 40px;
    float: left;
    font-weight: bold;
    font-size: 1.3em;
}

.individual-message-container .message-time {
    font-weight: lighter;
    padding-right: 40px;
    float: right;
}

.individual-message-container .message-content {
    text-align: left;
    
    padding-top: 10px;
    font-size: 1.1em;
}

.individual-message-container:nth-child(odd) {
    background-color: rgba(22, 158, 226, 0.7);
}

.modal-new-room, .modal-set-user {
    padding: 15px;
    background-color: #80BED3;
    border-radius: 5px;
}

.modal-new-room input, .modal-set-user input {
    width: 95%;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.modal-new-room .btn {
    width: 45%;    
    margin: 1%;
}

.modal-set-user .btn {
    width: 95%;
    margin: 1%;
}