<main>
    <nav class="chatroom-list-bar">
        <h1 id="chatroom-list-title">RealChat
        <button type="button" class="btn btn-default" ng-click="home.open()">New room</button></h1>
        <ul class="chatroom-list-container" ng-repeat="room in home.chatRooms">
           <li><a class="chatroom-list-name" ng-click="home.displayCurrentRoom(room.name, room.$id)">{{ room.name }}</a></li>
        </ul>
    </nav>
    <div class="current-chatroom-container">
        <h2 id="current-chatroom-title">{{ home.currentRoom }}</h2>
        <div class="current-chatroom-message-container">
            <div class="individual-message-container" ng-repeat="message in home.messages | orderBy: '-sentAt' ">
                <p class="message-username">{{ message.username }}</p>
                <p class="message-time">{{ message.sentAt | date:'short' }}</p>
                <br />
                <p class="message-content">{{ message.content }}</p>
            </div>
        </div>
    </div>
    <div class="enter-message-container">
        <form class="enter-message">
            <input type="text" name="newMessage" ng-model="home.newMessage" placeholder="Write your message here..." />

            <button class="btn btn-send-new-message" type="button" ng-click="home.send()">Send</button>
        </form>
    </div>
</main>
