<main>
    <nav class="chatroom-list-bar">
        <h1 id="chatroom-list-title">Bloc Chat
        <button type="button" class="btn btn-default" ng-click="home.open()">New room</button></h1>
        <ul class="chatroom-list-container" ng-repeat="room in home.chatRooms">
           <li><a class="chatroom-list-name" >{{ room.name }}</a></li>
        </ul>
    </nav>
    <div class="current-chatroom-container">
        <h2 id="current-chatroom-title">Room 1</h2>
        <div class="current-chatroom-message-container">
            <div class="individual-message-container">
                <p class="message-username">Username 1</p>
                <p class="message-time">2:59pm</p>
                <br/>
                <p class="message-content">This is a cool chatroom!</p>
            </div>   
        </div>
    </div>

</main>

<!-- ng-click="displayCurrentRoom(room.name)" -->